{% extends "DemoWebBundle::default_layout.html.twig" %}

{% block content %}
    <main class="bs-docs-masthead">
        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title"><h1>{{ title }}</h1></h1>
                <p class="lead blog-description">简洁、直观、优雅的前端框架，让web开发简单。</p>
            </div>
        </div>
    </main>
    <main class="" id="content" role="main">
        <div class="container">
            <div class="row row-margin2">

                <div class="col-sm-8 blog-main">
                    {% for item in posts %}
                        <div class="blog-post">
                            <a href="{{ path('post_postInfo', {'id': item.getId}) }}">
                                <h2 class="blog-post-title">{{ item.getPostTitle }}</h2>
                            </a>
                            <p class="blog-post-meta">{{ item.getPostTime|date("Y-m-d H:i:s") }} <a href="#">{{ item.getUsers.getUserNiceName }}</a></p>
                            <div class="bs-callout bs-callout-lighter">
                                {{ item.getPostDesc }}
                            </div>

                        </div>
                    {% endfor %}

                    {#<nav>#}
                        {#<ul class="pager">#}
                            {#<li><a href="{{ url('learn_bootstrap', {'page': page - 1 }) }}">上一页</a></li>#}
                            {#<li><a href="{{ url('learn_bootstrap', {'page': page + 1 }) }}">下一页</a></li>#}

                            {#<li>{{ page }} / {{ total }}页</li>#}
                        {#</ul>#}
                    {#</nav>#}

                    <nav>
                        <ul class="pagination">
                            <li><a href="{{ url('learn_bootstrap', {'page': page - 1 }) }}">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>

                            <li><a href="{{ url('learn_bootstrap', {'page': page + 1 }) }}">&raquo;</a></li>
                        </ul>
                    </nav>

                </div><!-- /.blog-main -->

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>简介</h4>
                        <p>Etiam porta <em>sem malesuada magna</em>
                            mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                    </div>
                    <div class="sidebar-module">
                        <h4>相关文章</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">October 2013</a></li>
                            <li><a href="#">September 2013</a></li>
                            <li><a href="#">August 2013</a></li>
                            <li><a href="#">July 2013</a></li>
                            <li><a href="#">June 2013</a></li>
                            <li><a href="#">May 2013</a></li>
                            <li><a href="#">April 2013</a></li>
                        </ol>
                    </div>
                    <div class="sidebar-module">
                        <h4>其他地方</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div><!-- /.blog-sidebar -->

            </div>
        </div>

    </main>
{% endblock %}
