{% extends "DemoWebBundle::default_layout.html.twig" %}

{% block pageTitle %}学无止境{% endblock %}

{% block pageDescription %} 路漫漫而修远兮,吾将上下而求索 {% endblock %}

{% block bannerContainer %}
    <div class="bs-docs-masthead">
        <div class="container">
            <div class="blog-header">
                <p class="lead blog-description">路漫漫而修远兮，吾将上下而求索</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <main class="" id="content" role="main">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">分享是一种博爱的心境，学会分享，就学会了生活。</h1>
                    <ol class="breadcrumb">
                        <li><a href="{{ url('main_index') }}">首页</a>
                        </li>
                        <li class="active">学无止境</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">

                <!-- Blog Entries Column -->
                <div class="col-md-8">

                    <!-- First Blog Post -->
                    {% for item in posts %}
                    <h2>
                        <a href="{{ url('post_postInfo', {'id': item.getId}) }}">{{ item.getPostTitle }}</a>
                    </h2>
                    <p class="lead">
                        by <a href="#">{{ item.getUsers.getUserNiceName }}</a>
                    </p>
                    <p><i class="fa fa-clock-o"></i> {{ item.getPostTime|date('M  d, Y  H:i A') }}</p>
                    <hr>
                    <a href="{{ url('post_postInfo', {'id': item.getId}) }}">
                        <img class="img-responsive img-hover" style="max-height: 300px;" src="{{ uploadsUrl }}{{ postInfo.getPostTime|date('Y/m/') }}{{ item.getPostImage }}" alt="">
                    </a>
                    <hr>
                    <p>
                        {{ item.getPostDesc }}
                    </p>
                    <a class="btn btn-primary" href="{{ url('post_postInfo', {'id': item.getId}) }}">阅读 <i class="fa fa-angle-right"></i></a>

                    <hr>
                    {% endfor %}


                    {#{% if totalPage > 1 %}
                        <!-- Pager -->
                        <div class="row">
                            <ul class="pager">
                                {% if page > 1 %}
                                    <li class="previous"><a href="{{ url('main_life', {'page': page -1}) }}">← 上页</a></li>
                                {% endif %}
                                <li class="next"><a href="{{ url('main_life', {'page': page + 1}) }}">下页 →</a></li>
                            </ul>
                        </div>
                        <hr>
                        <!-- /.pager -->
                    {% endif %}#}

                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>搜索</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>板块</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{{ url('learn_bootstrap') }}">Bootstrap</a>
                                    </li>
                                    <li>
                                        <a href="{{ url('learn_javascript') }}">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="{{ url('learn_linux') }}">Linux</a>
                                    </li>
                                    <li>
                                        <a href="{{ url('learn_php') }}">PHP</a>
                                    </li>
                                    <li>
                                        <a href="{{ url('learn_ruby') }}">Ruby</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>阅读排行</h4>
                        <!-- 多说热评文章 start -->
                        <div class="ds-top-threads" data-range="monthly" data-num-items="5"></div>
                        <!-- 多说热评文章 end -->
                        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                        <script type="text/javascript">
                            var duoshuoQuery = {short_name:"lattecake"};
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0]
                                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                        <!-- 多说公共JS代码 end -->
                        {#<ol class="list-unstyled">#}
                            {#<li><a href="#">March 2014</a></li>#}
                            {#<li><a href="#">February 2014</a></li>#}
                            {#<li><a href="#">January 2014</a></li>#}
                            {#<li><a href="#">December 2013</a></li>#}
                            {#<li><a href="#">November 2013</a></li>#}
                            {#<li><a href="#">October 2013</a></li>#}
                            {#<li><a href="#">September 2013</a></li>#}
                            {#<li><a href="#">August 2013</a></li>#}
                            {#<li><a href="#">July 2013</a></li>#}
                            {#<li><a href="#">June 2013</a></li>#}
                            {#<li><a href="#">May 2013</a></li>#}
                            {#<li><a href="#">April 2013</a></li>#}
                        {#</ol>#}
                    </div>

                </div>

            </div>
            <!-- /.row -->

            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <p>某一人似曾相识、某一刻似曾经历</p>
                </div>
            </div>

        </div>

    </main>
{% endblock %}
